html, body {
    background-color: black;
    overflow: hidden;
}

.layout {
    width: 100%;
}

canvas {
    background: blue;
}

.endingCredits p {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

audio {
    display: none;
}